.header {
    display: flex;
    justify-content: space-around;
    
    button {
        border: none;
        color: white;
        background-color: var(--primeira-cor); 
        border-radius: 8px;
        font-size: 18px;
        font-weight: 400;
        justify-content: space-between;
        height: 60px;
        width: 216px;
    }

    .textos {
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 28px;
            font-weight: 600;
        }

        p {
            font-size: 22px;
            font-weight: 400;
        }
    }
}