<app-navbar></app-navbar>

<section class="container py-5" id="produtos">
    <div class="header">
        <div class="textos">
            <h2>Termos</h2>
            <p>Qual termo gostaria de acessar hoje?</p>
        </div>
        <div class="botao">
            <button><img src="assets/images/add.png" alt="" class="me-2">Adicionar turma</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="./images/roupinha.jpg" class="card-img-top" alt="Produto 1">
                <div class="card-body">
                    <h5 class="card-title">Camiseta Zooz Pets Snoopy Beach Tennis</h5>
                    <p class="card-text">Disponível nos tamanhos: PP, P, M, G e GG.</p>
                    <a href="#" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="./images/racao.jpg" class="card-img-top" alt="Produto 2">
                <div class="card-body">
                    <h5 class="card-title">Ração Golden Fórmula para Cães Adultos</h5>
                    <p class="card-text">Pelagem mais bonita e saudável.</p>
                    <a href="#" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="./images/casinha.jpg" class="card-img-top" alt="Produto 3">
                <div class="card-body">
                    <h5 class="card-title">Cabana Fábrica Pet Little</h5>
                    <p class="card-text">Possui enchimento em espura e almofada em fibra siliconada.</p>
                    <a href="#" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
    </div>
  </section>