<section>

    <div class="container">
        
        <div class="imagem-login">
            <img src="assets/images/loginscreen.png" alt="">
        </div>
        
        <div class="login">
            <div class="logo-login">
                <img src="assets/images/login-logo.png" alt="">
                <h1>Guia do Mochileiro</h1>
                <h1>Fatecano</h1>
            </div>
            <div class="inputs">
                <div class="input">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Email">
                </div>
                <div class="input">
                    <label for="password">Senha</label>
                    <div class="password-wrapper">
                        <input
                          class="pass"
                          [type]="visibilidadeSenha ? 'text' : 'password'"
                          name="password"
                          id="password"
                          maxlength="40" 
                          placeholder="Digite sua senha"
                        >
                        <img 
                          class="toggle-visibility"
                          [src]="visibilidadeSenha ? 'assets/images/eye_open.png' : 'assets/images/eye_close.png'"
                          (click)="mostrarSenha()"
                          alt="Toggle visibility"
                        >
                    </div>
                </div>
                <button routerLink="home">Entrar</button>
            </div>
            
            <div class="cadastrar">
                <p>Ainda não possui conta? <a routerLink="register">Cadastrar-se</a></p>
            </div>
        </div>
        
        
        
    </div>
</section>